
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 style="color: blueviolet;">
    <center>ENTREGAS DETALLE</center>

</h3>

<!--
 <table class="table table-dark table-striped">
    <tr> <td>Fecha</td><td>Serie</td> <td>Marca</td><td>Cliente</td><td>Localidad</td>
<tr>
    <td>{{Todas_Entregas.Fecha}}</td>
    <td>{{Todas_Entregas.Serie}}</td>
    <td>{{Todas_Entregas.Marca}}</td>
    <td>{{Todas_Entregas.Cliente}}</td>
    <td>{{Todas_Entregas.Localidad}}</td> 
-->

    {% if user.is_superuser %}
  
   <a href="{% url 'entregas_editar' Todas_Entregas.pk %}"> Editar Entregas</a>

   <a href="{% url 'entregas_eliminar' Todas_Entregas.pk %}"> Eliminar Entregas</a>
</tr>
</table>
{% endif %}
<div class="card" style="width: 24rem;">
  <img src="{% static 'images/aag.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
   <h5 class="card-title">Descripcion</h5>
      
      <p class="card-text"><td>Fecha: {{Todas_Entregas.Fecha}}</td>
        <br>
        <td>Serie: {{Todas_Entregas.Serie}}</td>
        <br>
        <td>Cliente: {{Todas_Entregas.Cliente}}</td>
        <br>
        <td>Entrega: {{Todas_Entregas.Entrega}}</td>
        <br>
        <td>LugarEntrega: {{Todas_Entregas.LugarEntrega}}</td></p>
     
    </div>
  </div>

  <ul class="list-group list-group-flush">

    {% for comentario in Todas_Entregas.comentarios_entregas.all %}
    <li class="list-group-item"> {{comentario.autor}} escribio: {{comentario}}</li>
    
    {% if user.is_superuser %}

     <a href="{% url 'Comentario_eliminar_entregas' comentario.pk %}"> <button type="button" class="btn btn-info">Eliminar Comentario</button>    </a>
  
   
    {% endif %}

    {% endfor %}
    
    
</ul>

    <a href="{% url 'Comentarioentregas' Todas_Entregas.pk %}"> <button type="button" class="btn btn-info">Agregar Comentario</button>    </a>
 
   
{% endblock content %}