<h1> <h1 style="color: blueviolet;">

    <center> Vehiculo </center>
    </h1>
    
    {% extends 'base.html' %}
    
    {% block content %}
    
      <a href="{% url 'vehiculos_nuevo' %}">  <button type="button" class="btn btn-info">VehiculoNuevo</button>    </a >
    <br>  
     
    {% if not perms.pages.suscriptor %}
  
    
  <a class="nav-link" href="{%url 'orders' %}">Pago</a> 
    {% else %}
  
    {% endif %}

    {% for ubicacion in Todos_ubicacionBusquedas %}
    
    <a href="{% url 'vehiculos_detalle' vehiculos.pk %}" >{{vehiculos}}  </a>
    {% if vehiculos.portada %}
    <img src="{{ vehiculo.portada.url }}" class="card-img-top" alt="...">
    {% else %}
    
    <p>{{vehiculos.Nombre}}</p>
   {% endif %}
    {% endfor %}
    
    
    {% endblock content %}